<div id="home-searchbar" class="form-group-lg has-feedback-left">
   <input class="form-control" type="text" placeholder="Search a course" onKeyDown={{action "searchbarKeyDown"}} onClick={{action "onSearchClicked"}}/>
   <span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>
