<div id="home-searchbar" class="form-group-lg has-feedback-left">
<div id="input">
   {{input value=searchTextTmp class="form-control" type="text" placeholder="Search a course" key-up="searchbarKeyEvent" focus-in="onSearchClicked" }}
   <span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>
</div>
