<div id="home-search-results">
<div class="margin">
{{message}}
</div>
<hr/>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
</div>

