<div id="home-search-results">
<div class="margin">
<h4>Discovery</h4>
{{message}}
<hr/>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
   <div><a class="thumbnail"><img size="5em" src="" alt="plan"/></a></div>
</div>

</div>
