<div id="home-search-results">
<div class="margin">
<h4>Discovery</h4>
{{message}}
<hr/>
   {{#each schedules as |r|}}
   <a class="thumbnail" href="schedule?courses={{r.serialized}}" target="_blank">
      {{#if r.visible}}
         {{component 'schedule-calendar' schedule=r}}
      {{/if}}
   </a>
   {{/each}}
   {{#if more}}
      <div class="more">{{more}} MORE</div>
   {{/if}}
</div>

</div>
