<div id="home-search-results">
<div class="margin">
<h4>Discovery</h4>
{{message}}
<hr/>
   {{#each results as |r|}}
   <div>
      <div class="thumbnail">
         {{component 'schedule-calendar' schedule=r}}
      </div>
   </div>
   {{/each}}
</div>

</div>
