<div id="home-search-results">
<div class="margin">
<h4>Discovery</h4>
{{message}}
<hr/>
   {{#each schedules as |r|}}
   <div class="thumbnail">
      {{#if r.visible}}
         {{component 'schedule-calendar' schedule=r}}
      {{/if}}
   </div>
   {{/each}}
   {{#if more}}
      <div class="more">{{more}} MORE</div>
   {{/if}}
</div>

</div>
