body {
   background-color: #333333;
}

#home-searchbar {
   background-color: white;
   margin: 1em;
   position: relative;
}

.has-feedback-left input.form-control {
  padding-left: 40px; 
  padding-right: 12px; 
}
.has-feedback-left .form-control-feedback {
  left: 0;
}

#home-head {
   width: 100%;
   padding: 0.7em 1em;
   height: 3em;
   background-color: #333333;
}

#home-head-logo .uw {
   color: #99ccff; 
   font-size: 1.2em;
   font-style: bold;
}

#home-head-logo .name {
   color: #cccccc;
   font-size: 1.2em;
   font-style: italic;
}

.home-course-entry {
   margin: 0.25em 1em 0.5em 1em;
   background-color: #fefefe;
}

.home-course-entry .head, 
.home-course-entry .body {
   padding-left: 1em;
   padding-right: 1em;
} 

.home-course-entry .body {
   padding-top: 1em;
   padding-bottom: 0.1em;
}

.home-course-entry .head {
   background-color: #f9f9f9;  
   color: #666;
}

.home-course-entry .head .clickable {
   width: calc(100% - 10em);
   display: inline-block;
}

.clickable {
   cursor: pointer;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.home-course-entry .head:hover {
   background-color: #f3f3f3;  
}

.home-course-entry .name {
   
}

.home-course-entry .btn.add-course {
   font-style: italic;
   margin: 0;
   padding: 0;
}

#home-search-filters {
   height: 100px;
   margin: 1em;
}

#home-body {
   width: 100vw;
   height: calc(100vh - 3em);
   margin: 0;
   padding: 0;
   background-image: url("../images/waterloo_sign.png");
   background-size: cover;
}

#home-body-left {
   width: 25vw;
   position: absolute;
   left: -25vw;
   display: inline-block;
   overflow: hidden;
}
#home-body-right {
   width: 100vw;
   position: absolute;
   display: inline-block;
}
