
$THEME_BLUE_L: #99ccff;
$THEME_BLUE: #337ab7;
$THEME_RED: #d9534f;
$THEME_GREEN: #5cb85c;
$THEME_BLUE_D: #286090;
$THEME_RED_D: #c9302c;
$THEME_GREEN_D: #449d44;
$THEME_GREEN_L: #8bca8b;
$THEME_BLACK: #333;
$THEME_GREY: #555;

$THEME_TRANS_BK: rgba(256,256,256,0.90);
$THEME_TRANS_BK_F: rgba(256,256,256,0.975);

$HOME_HEAD_H: 3em;

