@import "globals";


.home-course-entry {
   margin: 0 3em 0.3em 3em;
   background-color: transparent;
   border-radius: 4px;
   /*overflow: scroll;*/
   /*background-color: rgba(256,256,256,0.9) !important;  */
   /*background-color: #fefefe;*/
   
   
      
   .body .margin {
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
   }

   .body {
      transition: max-height 1s linear;
      height: 0;
      overflow: hidden;
   } 

   /*
   .home-course-entry.expanded .body {
      transition: max-height 1s linear;
      max-height: 100vh;
   }

   .home-course-entry.expanded .body.after-transition {
      max-height: none;
   }*/

   .head {
      color: #666;
      position: relative;
      height: 3.5em;
      border-color: transparent; 
      overflow: hidden;
      background-color: $THEME_TRANS_BK;  
   }

   .head span {
      vertical-align: middle;
   }

   .head .expand-bar {
      width: calc(100% - 5em);
      height: 3.5em;
      line-height: 3.5em;
      display: inline-block;
      position: absolute;
      z-index: 1;
   }

   .head .expand-bar span {
      font-size: 1.2em;
   }

   .head .expand-bar i {
      opacity: 0.5;
      font-size: 0.8em;
   }


   .body,
   .head:hover {
      background-color: $THEME_TRANS_BK_F;
   }
   
   .head:hover {
      background-color: #eee;
      opacity: 1;
   }

   .expand-bar .glyphicon {
      margin-left: 1.5em;
      margin-right: 1em;
   }

   .title {
      text-transform: uppercase;
   }

   .add-course {
      color: #aaa;
      height: 100%;
      /*padding: 0 2em;*/
      text-align: center;
      line-height: 3.5em;
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      opacity: 0.7;

      &:hover {
         opacity: 0.9;
         /*transition: 0.2s;*/
      }
      
      .ribbon-left {
         right: 7em;
         position: absolute;
      }

      .hint {
         display: inline-block;
         visibility: hidden;
         font-size: 1em;
         padding: 0 auto;
         border-left: 1px solid #ccc;
         width: 12em;
         position: absolute;
         right: 5em;
         z-index: 0;
      }

      .hint .text {
         background-color: $THEME_GREY;
         display: inline-block;
         position: absolute;
         width: 7em;
         right: 0;
      }

      .c-button {
         display: inline-block;
         height: 100%;
         padding: 0 auto;
         width: 5em;
         border-left: 1px solid #ccc;
         right: 0;
         position: absolute;
         
         .icon {
            position: relative;
            font-weight: 100;
            top: -0.13em;
         }
         
         .icon:after {
            /* plus */
            content: "\002b";
         }
      }
   }
      
   .add-course:hover {
      .c-button {
         background-color: $THEME_BLUE;
         border-left-color: transparent;
         color: white;
      }
   }

   .add-course:hover + .expand-bar {
      transition: width 0.2s;
      width: calc(100% - 17em);
   }
   
   .head:hover .hint {
      visibility: visible;
   }
   .head:hover .expand-bar {
      background-color: inherit;   
   }
   
}

.home-course-entry.added {
   .c-button {
      background-color: $THEME_GREEN;
      color: white;
      .icon:after {
         /* ok */
         content: "\e013"; 
      }
   }
   .add-course:hover {
      .c-button {
         background-color: $THEME_RED;
         border-left-color: transparent;
         color: white;
         .icon:after {
            /* remove */
            content: "\e014"; 
         }
      }
   }
}

.home-course-entry.expanded .head .expand-bar {
   background-color: #eee;   
}
