@import "globals";

#home-search-results {
   border-radius: 4px;
   background-color: rgba(255,255,255,0.9);   
   .margin {
      margin: 2em;
   }
   
   cursor: default;
   
   .thumbnail {
      height: 10vh;
      overflow: hidden;
      .ember-view {
         height: 100%;
         width: 100%;
      }
      cursor: pointer;
      &:hover {
         border-color: $THEME_BLUE;
      }
   }

   .more {
      font-weight: bold;
      font-size: 0.8em;
      text-align: right;
      color: $THEME_GREY;
      opacity: 0.3;
   }
   
   .more:hover {
      /*opacity: 0.7;*/
   }
   
   .schedule-calendar {
      font-size: 2px;
      height: 100%;
      opacity: 0.5;
   }
   
   .schedule-calendar:hover {
      transition: 0.5s;
      opacity: 1;
   }
}

