@import 'globals';

.schedule-calendar {
   
   height: 100%;
   width: 100%;
   position: relative;
   
   .convas {
      .course {
         .title {
            text-transform: uppercase;
            font-weight: bold;
         }
         .time {
            font-weight: light;
         }
         text-align: center;
         background-color: $THEME_GREEN_L;
      }
   }
   
   convas {
      height: 100%;
      width: 100%;
   }
   
   .grid {
      height: 100%;
      width: 100%;
      
      * {
         padding: 0;
         margin: 0;
         border: none;       
         color: black;
         background-color: transparent;  
         font-size: inherit;
      }
      
      .g-body {
         height: 100%;
         .g-row {
            display: flex;
            height: 1.06%;
            &:last-child {
               .g-cell {
                  border-right: 1px solid transparent;
               }
            }
         }
         
      }
      
      /* Time labels */
      .g-hr .g-cell:first-child {
         .g-label {
            visibility: visible;
            font-size: 80%;
            font-weight: 200;
            position: relative;
            top: -0.6em;  
            float: right;
            margin: 0 0.5em;
            color: #777;
         }
      }
      
      .g-label {
         visibility: hidden;
      }
      
      .g-hr .g-cell {
         border-top: 1px solid #ccc;
      }
      
      .g-cell {
         border-right: 1px solid #ccc;
         width: 19%;
         display: inline-block;
         &:first-child {
            width: 5%;
            border-top: none;
         }
      }
      
      .g-head {
         display: flex;
         height: auto;
         .g-cell {
            border: none;
            text-align: center;
            font-size: 100%;
            color: #777;
         }
      }
   }
}
