<FilesMatch ".*">
    SetHandler cgi-script
</FilesMatch>

Options +ExecCGI
AddHandler cgi-script .cgi

# Allow numbers only in dynamic path segments!

RewriteEngine On
RewriteRule "^courses$"  "courses?subject=all" [L]
RewriteRule "^courses/(\w+)/(\w+)$"  "courses?subject=$1&number=$2" [L]
RewriteRule ".*"  "404" [L]
